body{
    opacity:0 ;
    transition: opacity 1.2s ease-out;
}

body.loaded {
    opacity: 1;
}

.h1{
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: white 0.1rem;
}

table {
    background-image: url("./image/bus_stop_afternoon.jpg");
    background-size: cover;
    width: 100%;
    border-spacing: 5rem;
    border:2px solid #000;
}

.gauge {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    background-color: firebrick;
}

.progress {
    position: relative;
    width: 100%;
    height: 90%;
    border: .2rem solid #000;
    border-bottom: .1rem solid white;
    border-radius: 50%;
    outline: .2rem solid #000;
    outline-offset: .4rem;
    overflow: hidden;

}

.progress::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color:  white;
    border-radius: 50%;
    z-index: 99;
    border: .15rem solid#000;
    border-bottom: .1rem solid white;
    
}

.progress::after{
    position: absolute;
    content: '';
    top: 50%;
    width: 54%;
    transform: translate(43%, 0%);
    height: 50%;
}

.bar {
    position: absolute;
    top: -20%;
    left: 50%;
    width: 70%;
    height: 130%;
    /* background-color: gray; */
    transform: translate(-50%, -50%);
    transform: rotate(0deg) ;
    transform-origin: center left;
    z-index: 1;
}
/* -325degで隠れる */
.bar2 {
    position: absolute;
    top: -25%;
    left: 50%;
    width: 60%;
    height: 150%;
    /* background-color: gray; */
    transform: translate(-50%, -50%);
    transform: rotate(-180deg) ;
    transform-origin: center left;
}

.bar {
        /* transform（回転）プロパティが変更されたら、1秒かけてアニメーション */
    /* cubic-bezier(...)は動きを滑らかにするおまじないです */
    transition: transform 1.5s cubic-bezier(0.5, 1, 0.8, 1);
}
/* -180deg */

.bar .bar2 {
    transition: 1s;
}


.bar-white {
    position: absolute;
    top: -25%;
    left: 50%;
    width: 60%;
    height: 150%;
    background-color: white;
    /* background-color: pink; */
    transform: translate(-50%, -50%);
    transform: rotate(0deg) ;
    transform-origin: center right;
    z-index: 80;
        /* ただし、普段は透明にして見えなくしておく */
    opacity: 0;
    /* opacityプロパティが変更されたら、0.5秒かけてフワッと変化させる */

}

.bar-white.is-visible {
    opacity: 1;
}


.time_flame {
    position: relative;
    top: -100%;
    left: 22.5%;
    height: 50%;
    width: 70%;
    /* border: .1rem solid #000; */
    transform: translate(-8%, 50%);
    z-index: 400;
}

.time {
    position: absolute ;
    width: 100%;
    height: 100%;
    transform: translate(-10%, -80%);
    font-size: 720%;
    text-align: center;
    size: 100px;
}

.time--clock {
    font-size: 720%;
}

.time--closed {
    top: -50%;
    transform: translate(0%, 30%);
    font-size: 35%;
    color: red;
    white-space: nowrap;
}

.time_flame::before {
    content: "残り時間";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 250%;
    color: #555;
    white-space: nowrap;
    -webkit-text-stroke: 0.6px #4808dd;
}

.time_flame--closed::before {
    content: "";
}

.seconds {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0%, -30%);
    font-size: 720%;
    text-align: center;
    size: 100px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

h2 {
    height: 70px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    background-image: url("./image/waku_kanbandai_tuta.png");
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
}


/* 画面が狭いときに縦並びにするためのメディアクエリ */
@media (max-width: 600px) {
    .gauge-columns {
        flex-direction: column; /* 縦並びにする */
        align-items: center;    /* 中央揃え */
    }
    .gauge-column {
        width: 90%; /* 小さな画面では幅を少し狭める */
        max-width: 350px; /* スマートフォンでの最大の幅を制限 */
    }
}




.container {
  transform: translate(2%, -180%);
  width: 200px;
  height: 80px;
  perspective: 800px;
  margin: 50px auto;
  position: relative;
  z-index: 100;
  
}

.content {
  width: 200px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: 3s ease-in-out;
  transform: rotateX(2.5turn);
}

/* 面の基本設定 */
.face {
  position: absolute;
  background: #FFBBBB;
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* text-align: center; */
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 各面のサイズ */
.front, .back {
  width: 200px;
  height: 80px;
  border: 0.1px solid red;
}
.right, .left {
  width: 80px;   /* 奥行き */
  height: 80px;
  border: 0.1px solid red;

}
.top, .bottom {
  width: 200px;
  height: 80px;  /* 奥行き */
  border: 0.1px solid red;

}

/* 各面の配置 */
.front  { transform: translateZ(40px); }
.back   { transform: translateZ(-40px) rotateX(180deg); }
.right  { width: 80px; transform: rotateY(90deg) translateZ(160px); }
.left   { width: 80px; transform: rotateY(-90deg) translateZ(40px); }
.top    { height: 80px; transform: rotateX(90deg) translateZ(40px); }
.bottom { height: 80px; transform: rotateX(-90deg) translateZ(40px); }
